@use '../tools/breakpoint' as breakpoint;

.row {
  display: flex;
  flex-direction: column;

  @include breakpoint.min(lg) {
    flex-direction: row;
  }

  > * {
    flex-basis: 100%;

    + * {
      @include breakpoint.min(lg) {
        margin-bottom: 30px;
        margin-left: 30px;
      }
    }
  }
}
