
label {
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
}

input {
  margin-bottom: 15px;
  appearance: none;
  border-radius: 6px;
  padding: 10px;
  background: transparent;
  border: 1px solid var(--border-primary);
  outline: 0;
  color: var(--color-text-primary);
  width: 100%;
  transition: 250ms ease-in-out;

  &::placeholder {
    color: var(--color-text-placeholder);
  }

  &:focus {
    outline: 0;
    border-color: var(--border-active);
    caret-color: var(--color-secondary);
    background: var(--color-background-tertiary);
  }
}
