
body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-primary);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
}

h2 {
  font-size: 45px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
}

strong {
  font-weight: 700;
}
