
.input-error {
  &__box {
    background: var(--color-background-error);
    border-radius: 6px;
    padding: 15px;
    margin-top: 15px;

    &--margin-bottom {
      margin-bottom: 15px;
    }
  }

  &__text {
    color: var(--color-text-error);
  }
}
